html {
    font-family: 'Montserrat', sans-serif;
}

.header {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url("/resources/images/pattern.jpeg");
}

h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.brushes h2 {
    background-color: mediumspringgreen;
}

.frames h2 {
    background-color: lightcoral;
}

.paint h2 {
    background-color: skyblue;
}

span {
    font-weight: bold;
    color: blue;
}

footer {
    margin-top: 100px;
    text-align: center;
}

footer li{
    display: inline;
    padding: 15px 150px;
    background-color: aliceblue;
}